#main folder
python-env/
anaconda_projects/db/
.ipynb_checkpoints/

#renamingMedia folder
renamingMedia/scripts/__pycache__
renamingMedia/scripts/log.txt
renamingMedia/__pycache__
renamingMedia/build
renamingMedia/dist

#transitionCode folder
transitionCode/scripts/__pycache__
transitionCode/scripts/log.txt
transitionCode/__pycache__


#logger directory
__pycache__/
logger/logs/log.txt

#latex_cv_template
latex_cv_template/__pycache__/
latex_cv_template/dist/
latex_cv_template/build/
latex_cv_template/*.spec
latex_cv_template/src/*.txt