#main folder
python-env/
anconda_projects/db/
.ipynb_checkpoints/

#renamingMedia folder
renamingMedia/scripts/__pycache__
renamingMedia/scripts/log.txt
renamingMedia/__pycache__
renamingMedia/build/
renamingMedia/dist/